---
// Blog list page
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';

{/* import PaginationAstrowind from '~/components/blog/Pagination.astro'; */}
import PaginationPhilNash from "@philnash/astro-pagination"; {/* See node_modules/@philnash/astro-pagination */}
import { SITE, TAGS } from '~/utils/config';
import { getPermalink } from '../../utils/permalinks';
import Tags from '~/components/blog/Tags.astro';

// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Episodes${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  siteSearch: false, // inCharge: Exclude blog lists from site search
  openGraph: {
    type: 'blog',
  },
};

// TODO: Fix pagination so it automatically includes the base URL
// Meanwhile, Fix the base URL here
if (page.url.prev && !page.url.prev.startsWith('/' + SITE.base))
  page.url.prev = getPermalink(page.url.prev);
if (page.url.next && !page.url.next.startsWith('/' + SITE.base))
  page.url.next = getPermalink(page.url.next);
// Show pagination if there's more than one page
const isPagination = page.lastPage > 1;
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Tags tags={TAGS} isCategory={false}></Tags>
    <Headline>All Episodes</Headline>
    <div class="pagination pb-6"><PaginationPhilNash
      page={page}
      urlPattern={getPermalink("/podcast/{}")} 
      firstPageUrl={getPermalink("/podcast/")}
    /></div> {/* firstPageUrl avoids trailing double slash */}
    <BlogList posts={page.data} />
    {/* <PaginationAstrowind prevUrl={page.url.prev} nextUrl={page.url.next} /> */}
    <div class="pagination"><PaginationPhilNash
      page={page}
      urlPattern={getPermalink("/podcast/{}")} 
      firstPageUrl={getPermalink("/podcast/")}
    /></div> {/* firstPageUrl avoids trailing double slash */}
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</Layout>
