---
import { APP_BLOG } from '~/utils/config';
import type { Post } from '~/types';

import Image from '~/components/common/Image.astro';
import { YouTube } from '@astro-community/astro-embed-youtube';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';
import MultiPlayer from '~/components/multiplayer/MultiPlayer.astro';


export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = (await findImage(post.image));
---

<article class="mb-6 transition">
  <MultiPlayer class="aspect-youtube bg-gray-600" youtubeid={post.youtubeid} audiourl={post.audiourl} poster={post.image} transcript={post.transcript}/>
  <h3 class="py-1 my-1 text-xl font-bold leading-tight sm:text-2xl font-heading">
    {
      !APP_BLOG?.post?.isEnabled ? (
        post.title
      ) : (
        <a
          href={getPermalink(post.permalink, 'post')}
          class="py-1 hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
        >
          {post.title}
        </a>
      )
    }
  </h3>
  {post.excerpt && <p class="text-lg">
    <span class="text-muted dark:text-slate-400">{post.excerpt}</span>
    <a class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={getPermalink(post.permalink, 'post')}>
      More&raquo;
    </a>
  </p>
  }
</article>
