---
import { Image } from 'astro:assets';
import { type PodcastPlatforms } from '~/utils/config.ts';
const images = import.meta.glob("../../assets/images/listen/*");
const height = 64;

export interface Props {
  podcastPlatforms: PodcastPlatforms;
}
const { podcastPlatforms, ...attrs } = Astro.props;
---
<div {...attrs}>
  <ul class="flex flex-row list-none p-0 m-0">
{podcastPlatforms.map((listen) =>
  images[`../../assets/images/listen/${listen.image}.svg`] ? (
    <li class="p-0 m-0 pr-3">
      <a href={listen.url} title={(listen.action || 'Listen') + ' on ' + listen.text}>
        <Image
          class="m-0"
          src={images[`../../assets/images/listen/${listen.image}.svg`]()}
          width={height * (listen.ratio ? listen.ratio : 1) }
          height={height}
          alt={listen.text}
        />
      </a>
    </li>
  ) : (
  <div class="inline-block">
      <a href={listen.url} title={'Listen on ' + listen.text}>
        {listen.text}
      </a>
    </div>
  )
)}
  </ul>
</div>